# MPCDF
Host gate*
  Hostname %h.mpcdf.mpg.de
  User REPLACE

Host raven* viper*
  Hostname %h.mpcdf.mpg.de
  User REPLACE
  ProxyJump gate

Host vera*
  Hostname %h.bc.rzg.mpg.de
  User REPLACE
  ProxyJump gate
